<footer>
    <div class="container">
        <div class="row" style="border-top: 1px solid #E7E7E7;padding-top: 10px;margin-top: 20px">
            <div class="col-md-8">
                Licensed under <a href="https://github.com/meanstack.io/meanstack-io/blob/master/License">MIT</a>.
                <a href="https://github.com/meanstack-io/meanstack.io">
                    <i class="fa fa-github" aria-hidden="true"></i> Fork on GitHub.
                </a>
            </div>
            <div class="col-md-4 text-right">
                Version 0.3.9
            </div>
        </div>
    </div>
</footer>
