<div class="row" style="margin:10px -15px">
    <div class="col-md-12">
        <a href="/account/signin/facebook" TARGET="_self" class="btn btn-block facebook" type="button">Sign with
            Facebook</a>
    </div>

    <div class="col-md-12">
        <a href="/account/signin/twitter" TARGET="_self" class="btn btn-block twitter" type="submit">Sign with
            Twitter</a>
    </div>

    <div class="col-md-12">
        <a href="/account/signin/google" TARGET="_self" class="btn btn-block googleplus" type="submit">Sign with
            Google+</a>
    </div>

    <div class="col-md-12">
        <a href="/account/signin/linkedin" TARGET="_self" class="btn btn-block linkedin" type="submit">Sign with
            Linkedin</a>
    </div>

    <div class="col-md-12">
        <a href="/account/signin/github" TARGET="_self" class="btn btn-block github" type="submit">Sign with
            GitHub</a>
    </div>
</div>
