<div class="row">
    <div class="col-md-4 col-md-offset-4">

        <form class="form-horizontal small-label" ng-submit="forgot()">

            <h1>Reset your password</h1>

            <div class="form-group">

                <label for="email" class="col-md-12">Enter your email address and we will send you a link to reset your
                    password.</label>

                <div class="col-md-12">
                    <input type="email" id="email" name="email" ng-model="email" class="form-control"
                           placeholder="Email address" required=""
                           autofocus="">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <button class="btn btn-default btn-block" type="submit">Send</button>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="form-group">
                <div class="col-md-12 control">
                    <div class="nav-singinup">
                        Back!
                        <a href="/signin">
                            Sign in
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
