<div class="jumbotron">
    <h1>
        MEANStack
        <small>My Account</small>
    </h1>
    <p>
        bringing together the best of MEAN MongoDB, Express, AngularJS and Node.js
    </p>
</div>
