/*
* Stylesheet SASS
*/
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.headerPage{
  .navbar{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}

.btn-custom{
  button{
    border-radius: 0;
  }
}