<section class="section tertiary">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>
                    Doh !!! Internal Server Error...
                </h1>

                <p>
                    What do you look not here... <a href="/">Go to home page !</a>
                </p>
            </div>
        </div>
    </div>
</section>
