<!DOCTYPE html>
<html ng-app="App">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link href="{{style 'style'}}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/favicon.ico"/>
    <script id="load_css_before" async></script>

    <!-- Tags title, description, robots, canonical added by angular module "meanstack.metaTags" -->
</head>

<body>

{{{body}}}

{{>footer}}

<script src="{{script 'dependencies'}}" type="text/javascript"></script>
<script src="{{script 'angular'}}" type="text/javascript"></script>

<script id="load_js_before"></script>

</body>
</html>
