<!DOCTYPE html>
<html ng-app="App">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title ng-bind="'MEANStack.io | ' + $state.current.data.title"></title>
    <meta content="[[ $state.current.data.description ]]">
    <link href="{{style 'style'}}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/favicon.ico"/>
    <script id="load_css_before" async></script>
</head>

<body>

{{{body}}}

{{>footer}}

<script src="{{script 'dependencies'}}" type="text/javascript"></script>
<script src="{{script 'angular'}}" type="text/javascript"></script>

<script id="load_js_before"></script>

</body>
</html>
