<div class="jumbotron">
    <h1>
        MEANStack.io
        <small>About</small>
    </h1>

    <p>
        bringing together the best of MEAN MongoDB, Express, AngularJS and Node.js
    </p>
</div>


<p>
    <b>MEANStack.io</b> Is a solution full-stack JavaScript, based on MongoDB, Express, AngularJS, Node.js and another
    stack of packages.
</p>

<ul>
    <li>
        Stack of packages

        <ul>
            <li>
                Gulp gulp-sass, gulp-minify-css, gulp-imagemin, gulp-uglify, gulp-jshint, browser-sync and more...
            </li>

            <li>
                Bower package manager. Used to manage front-end packages.
            </li>

            <li>
                Handlebars template manager.
            </li>

            <li>
                Mongoose MongoDB object modeling tool.
            </li>

            <li>
                Nodemailer module to send e-mails with Node.js.
            </li>

            <li>
                Passporte authentication middleware for Node.js. With passport-facebook, passport-github,
                passport-google-oauth, passport-linkedin-oauth2, passport-twitter and passport-local form to login
                strategy.
            </li>

            <li>
                jQuery JavaScript Library.
            </li>

            <li>
                AngularUI Router Routing framework for AngularJS.
            </li>

            <li>
                ocLazyLoad Lazy load modules & components in AngularJS.
            </li>

            <li>
                Bootstrap for Sass is Bootstrap...
            </li>
        </ul>
    </li>
</ul>

<p>
    Are some of the packages that we use to make this dream come true.
</p>

<div class="page-header">
    <h1>
        Documentation
    </h1>
</div>

<p>
    Documentation can be found on the <a href="http://meanstack.io/documentation">meanstack.io/documentation</a>
</p>

<div class="page-header">
    <h1>
        Copyright & License
    </h1>
</div>

<p>
    Copyright © 2016 Developscript - Licensed under <a
        href="https://github.com/developscript/meanstack.io/blob/master/License">MIT</a>.
</p>
